    body {
      background-color: grey;
      font-family: Arial;
    }

    h1 {
      color: white;
      text-align: center;
      font-size: 7vw;
      font-family: "Lucida Console", Courier, monospace;
    }

    img {
      display: block;
      max-width: 100%;
    }

    .periodic {
      position: relative;
      height: 20vw;
      margin-right: -1px;
      text-shadow: none;
    }

    .periodic-row {
      clear: both;
      height: 30%;
    }

    .cell {
      float: left;
      position: relative;
      width: 5.55%;
      height: 100%;
    }

    .element {
      position: absolute;
      top: 0%;
      left: 0%;
      bottom: 1%;
      right: 1%;
      box-sizing: border-box;
      box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
      border: 0.2em solid rgba(0, 0, 0, 0.05);
      text-align: center;
      cursor: default;
      pointer-events: none;
      background-color: rgba(0, 128, 128, 0.6);
    }

    .at_num,
    .at_details {
      position: absolute;
      font-size: 1vw;
      color: rgba(255, 255, 255, 0.5);
    }

    .at_num {
      bottom: 1%;
      left: 1%;
    }

    .symbol {
      margin: auto;
      margin-top: 40%;
      font-size: 1.8vw;
      color: rgba(255, 255, 255, 0.9);
    }

    .at_details {
      top: 1%;
      right: 1%;
    }

    // styles based on nth-child
    .cell:nth-child(-n+2) .element,
    .cell:nth-child(n+13) .element {
      background-color: rgba(0, 160, 96, 0.6);
    }

    .cell:nth-child(1) .element,
    .periodic-row:nth-child(2) .cell:nth-child(n+14) .element,
    .periodic-row:nth-child(3) .cell:nth-child(n+15) .element,
    .periodic-row:nth-child(4) .cell:nth-child(n+16) .element,
    .periodic-row:nth-child(5) .cell:nth-child(n+17) .element {
      background-color: rgba(0, 192, 64, 0.6);
    }

    .periodic-row:nth-child(-n+6) .cell:nth-child(18) .element {
      background-color: rgba(64, 192, 0, 0.6);
    }

    .periodic-row:nth-child(n+9) .element {
      background-color: rgba(0, 96, 160, 0.6);
    }